header{
    position: fixed;
    width: 100%;
    max-height: 55px;
    display: flex;
    z-index: 1000;
    background: transparent;
}
.header__container{
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    padding-left: calc(1440px * (1 / 24));
    padding-right: calc(1440px * (1 / 24));
}
.list__content{
    display: flex;
    justify-content: space-between;
}
.h__container--logosearch{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.logosearch{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 3vw;
    color: #fff;
    font-weight: 400;
    font-size: 2em;
}
.search{
    min-width: 170px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #111;
    height: 35px;
}
.search__f{
    width: 85%;
    border-radius: 5px;
    border: none;
}
.search__f--input{
    width: 100%;
    font-size: 14px;
}
.search--icon{
    cursor: pointer;
    color: #000000;
    width: 20px;
    background-color: transparent;
}
.list__ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}
.list__ul__li{
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}
.list__ul__li--a{
    color: #fff;
    font-size: 1.2em;
}
.cart--icon{
    color: #fff;
}
.icon{
    margin: 0;
    margin-right: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.icon span{
    position: relative;
    z-index: 2;
}
.icon .modal__cart{
    position: absolute;
    top: 0;
    width: 200px;
    font-size: 1.2em;
    font-weight: 500;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.modal__cart:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    left: 50%;
    background: white;
    transform: translateX(-50%) rotate(45deg);
}
.list__ul__li:hover .modal__cart{
    visibility: visible;
    top: 40px;
    opacity: 1;
}
.modal__cart__content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.modal__cart__content ul{
    width: 100%;
}
.modal__cart__content ul li{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #8f8f8f;
    margin-bottom: 4px;
}
.modal__cart__content--img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-bottom: 4px;
    margin-right: 1vw;
}
/* The Modal (background) */
form {
    border: 3px solid #f1f1f1;
}
.login--btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.login--btn2{
    border: none;
    background-color: #f00;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
    color: #fff;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f00;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding: 8% 0;
  }
  .login--inpt{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .register--inpt{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .register--inpt--center{
      border-bottom: 0;
  }
  .stylereg--inpt{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 0;
  }
  .stylereg--inpt2{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10px auto; 
    border: 1px solid #888;
    border-radius: 10px;
    width: 350px; 
  }
  
  /* The Close Button */
  .close {

    position: absolute;
    right: 25px;
    top: 52px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
.container__login{
    padding: 16px;
    border-radius: 10px;
  }
  .container__login__options{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 10px;
    background-color:#f1f1f1;
  }
  .container__login__options--span{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
  }
  .btn--register{
      width: auto;
      background-color: transparent;
      color: #000000;
      cursor: pointer;
      font-size: 1.08em;
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
@media (min-width: 1900px){
    .logo{
        font-weight: 500;
        font-size: 2.5em;
    }
    .search__f--input{
        font-size: 18px;
    }
    .list__ul__li--a{
        font-size: 1.6em;
    }
    .login--btn{
        font-size: 1.6em;
    }
    .icon .modal__cart{
        width: 300px;
        font-size: 1.5em;
    }
    .modal__cart__content--img{
        width: 100px;
        height: 85px;
        margin-right: 2vw;
    }
}