@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 0;
    list-style: none;
    outline: none;
    resize: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    background: #f00;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 20px 50px;
    background: transparent;
}
header .logo{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.search{
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30px;
    min-width: 170px;
}
.search__f{
    width: 90%;
    height: 100%;
}
.search__f--input{
    width: 100%;
    height: 100%;
    border: none;
}
.search__f--input:focus{
    outline: none;
}
.search span{
    cursor: pointer;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
    margin-left: 40px;
}
header ul li a, button{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;
}
.banner .imgBx img.active{
    opacity: 1;
}
.controlIzq{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 80px;
}
.controlDer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 80px;
}
.controlIzq span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*.controlIzq span:hover{
    background: #ffeb3b;
}*/
.controlDer span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*.controlDer span:hover{
    background: #ffeb3b;
}*/
.contentBx{
    position: absolute;
    bottom: 0;
    max-width: 700px;
}
.contentBx div{
    display: none;
}
.contentBx div.active{
    display: block;
    padding: 30px;
    padding-left: 100px;
    background: rgba(0, 0, 0, 0.2);
}
.contentBx div h2{
    color: #fff;
    font-size: 3em;
}
.contentBx div p{
    color: #fff;
    font-size: 1.5em;
}
.contentBx div a{
    color: #111;
    font-size: 1.3em;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.controlIzq > span, .controlDer > span{
    color: #7E7F9A;
    opacity: .6;
    transition: .4s;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.controlIzq > span:hover, .controlDer > span:hover{
    opacity: 1;
    font-size: 36px;
}
.container 
{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.container__content 
{ 
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding-left: calc(1440px * (1 / 24));
    padding-right: calc(1440px * (1 / 24));
}
/* The Modal (background) */
form {
    border: 3px solid #f1f1f1;
}
.login--btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.login--btn2{
    border: none;
    background-color: #f00;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f00;
    cursor: pointer;
    border-radius: 5px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding: 10% 0;
  }
  .login--inpt{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .register--inpt{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .register--inpt--center{
      border-bottom: 0;
  }
  .stylereg--inpt{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 0;
  }
  .stylereg--inpt2{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10px auto; 
    border: 1px solid #888;
    border-radius: 10px;
    width: 350px; 
  }
  
  /* The Close Button */
  .close {

    position: absolute;
    right: 25px;
    top: 52px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  .container__login{
    padding: 16px;
    border-radius: 10px;
  }
  .container__login__options{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 10px;
    background-color:#f1f1f1;
  }
  .container__login__options--span{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
  }
  .btn--register{
      width: auto;
      background-color: transparent;
      color: #000000;
      cursor: pointer;
      font-size: 1.08em;
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
footer
{
    background-color: #f1f1f1;
    position: relative;
    width: 100%;
}

.f { width: 100%; }

.f__content
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3rem 0;
    width: 1212px;
}

.f__category-help
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 428px;
}

.f__category { width: 40%; }

.f--title
{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.f__ul{ list-style: none;}
.f__li { padding-bottom: 7px; }
.f__li:last-child { padding-bottom: 7px; }
.f__li--a { color: #000000; opacity: .8; transition: .3s; font-size: 1.3em;}
.f__li--a:hover { opacity: 1; text-decoration: underline; }

.f__help { width: 60%; }

.f__paying { padding-top: 30px; }

.f__paying__icos
{
    align-items: center;
    display: flex;
    width: 100%;
}

.f__paying__icos--img:nth-child(1),
.f__paying__icos--img:nth-child(2)
{
    padding-right: 10px;
    width: 40px;
}

.f__paying__icos--img:nth-child(3),
.f__paying__icos--img:nth-child(4)
{
    padding-right: 10px;
    width: 70px;
}

.f__paying__icos--img:nth-child(5)
{
    padding-right: 0;
    width: 40px;
}

.f__subscribe { width: 30%; }

.f__subscribe__input
{
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    height: 35px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.f__subscribe--input
{
    height: 30px;
    width: 95%;
    outline: none;
    resize: none;
}

.c-promo-index__btn{
    align-items: center;
    background-color: #f00;
    border-radius: 5px;
    display: flex;
    height: 40px;
    transition: .3s;
    width: 150px;
}

.c-promo-index__btn--a{
    align-items: center;
    color: #ffffff;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 100%;
    font-size: 1.6em;
}

.f__subscribe--p
{
    font-size: 12px;
    padding-top: 1rem;
}

.f__subscribe__icos
{
    align-items: center;
    display: flex;
    padding-top: 2rem;
}

.f__subscribe__icos i
{
    font-size: 30px;
    margin-right: 15px;
    transition: .3s;
}

.f__subscribe__icos i:hover { color: #f00; }

.f-copyright
{
    text-align: center;
    padding-bottom: 2rem;
}

.f-copyright--p { padding-bottom: 20px; font-size: 1.3em;}

.f-ordersoft
{
    align-items: center;
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.f-ordersoft--p
{
    color: #f1f1f1;
    font-size: 12px;
    opacity: .5;
    padding-right: 10px;
}

.f-ordersoft--a
{
    color: #f1f1f1;
    font-size: 12px;
    opacity: .5;
}

.f-ordersoft--a:hover { text-decoration: underline; }
@media (max-width: 1024px)
{
    .container__content
    {
        padding-left: calc(1024px * (1 / 24));
        padding-right: calc(1024px * (1 / 24));
    }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }